@page
@model DimensionFourMonitor.Pages.AdminPanelModel
@{
}
<html>
<head>

</head>
<body>
    <label></label>
    <input />
    <label></label>
    <input /><br /><br />
    <label></label>
    <select /><br /><br />
    <label></label>
    <input />
    <label></label>
    <input />
    <label></label>
    <input />
    <label></label>
    <input />
</body>
</html>