@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Get an overview of your spaces and points, or plot signals for monitoring.</p><br /><br />
    <p>Please enter valid credentials before continuing:</p><br />
    <label>Tenant ID:</label>
    <input type="text" id="tenantIdBox" /><br />
    <label>Tenant Key:</label>
    <input type="text" id="tenantKeyBox" /><br />
    <button onclick="createCredentials()">Set Variables</button>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    function createCredentials() {
        var tenantId = document.getElementById("tenantIdBox").value;
        var tenantKey = document.getElementById("tenantKeyBox").value;
        console.log(tenantId);
        console.log(tenantKey);
        if (tenantId != null || tenantKey != null) {
            $.ajax({
                type: 'GET',
                dataType: 'json',
                contentType: 'application/json',
                data: {
                    tenantId: tenantId,
                    tenantKey: tenantKey
                },
                url: '/Index?handler=CreateCredentials',
                success: function (result) {

                },
                error: function (xhr, status, error) {
                    var err = eval("(" + xhr.responseText + ")");
                    alert(err.Message);
                }
            });
        }
    }
</script>