@page
@model DimensionFourMonitor.Pages.SpacesListModel
@{
}
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <h1>Spaces and Points</h1>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Space Name
                </th>
                <th>
                    Space ID
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.spaces)
            {
                <tr class="space_row">
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.id)
                    </td>
                </tr>
                <tr class="point_header_row">
                    <th style="padding-left:50px">
                        Point Name
                    </th>
                    <th style="padding-left:50px">
                        Point ID
                    </th>
                </tr>
                @foreach (var point in item.points)
                {
                    <tr class="point_row">
                        <td style="padding-left:50px">
                            @Html.DisplayFor(modelItem => point.name)
                        </td>
                        <td class="point_id" , style="padding-left:50px">
                            @Html.DisplayFor(modelItem => point.id)
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</body>
</html>
<script>
    $(document).ready(function () {
        $('.space_row').nextUntil('tr.space_row').slideToggle(10);
        $('.space_row').click(function () {
            $(this).nextUntil('tr.space_row').slideToggle(400);
        });
        $('.point_id').click(function (event) {
            var id = $(event.target).text().trim();
            redirectPage(id);
        });
    });
    function redirectPage(id) {
        var base_url = window.location.origin;
        var path = "/SignalDisplay?id=" + id;
        window.location.href = base_url + path;
    }
</script>